
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    background: rgb(227, 145, 93);
    background: linear-gradient(90deg, rgb(239, 95, 6) 0%, rgba(236, 174, 3, 0.8550770650056898) 92%);
}

.container-yugi {
    width: 90%;
    margin: 0 auto;
}